<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カテゴリ編集確認</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	<div th:if="${param.timeout}" class="error-msg">
		セッションが切れました。もう一度ログインしてください。
	</div>
		
	<h2>カテゴリ編集確認</h2>
	
	<table class="confirm-table" th:object="${editCategoryForm}">
		<tr>
			<td class="guide">【カテゴリ名】</td>
			<td th:text="*{name}"></td>
		</tr>
		<tr>
			<td class="guide">【収支区分】</td>
			<td th:text="*{type}"></td>
		</tr>
		<tr>
			<td class="guide">【ソート順】</td>
			<td th:text="*{sortOrder}"></td>
		</tr>
	</table>
	
	<br><br>

    <form th:action="@{/do-edit-category}" method="POST"
			th:object="${editCategoryForm}">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		<input type="hidden" th:field="*{id}">
    	<input type="hidden" th:field="*{name}">
    	<input type="hidden" th:field="*{type}">
    	<input type="hidden" th:field="*{sortOrder}">
    	<input type="submit" value="編集実行" class="btn">
   	</form>
	
	<br>


    <form th:action="@{/back-edit-category}" method="POST"
			th:object="${editCategoryForm}">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			<input type="hidden" th:field="*{id}">
			<input type="hidden" th:field="*{name}">
			<input type="hidden" th:field="*{type}">
			<input type="hidden" th:field="*{sortOrder}">
    	<input type="submit" value="もどる" class="btn">
   	</form>

</body>
</html>
