<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>カテゴリ編集</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div th:if="${param.timeout}" class="error-msg">
		セッションが切れました。もう一度ログインしてください。
	</div>

	<h2>カテゴリ編集</h2>

	<br>
	<br>

	<form th:action="@{/confirm-edit-category}" method="POST" th:object="${editCategoryForm}">
		<input type="hidden" th:field="*{id}">
		<br>
		【カテゴリ名】<br>
		<input type="text" th:field="*{name}"><br>
		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-msg"></div>
		<br>
		【収支区分】<br>
		<select th:field="*{type}">
			<option value="">選択してください。</option>
			<option value="INCOME">収入</option>
			<option value="EXPENSE">支出</option>
		</select><br>
		<div th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="error-msg"></div>
		<br>
		【ソート順】<br>
		<input type="text" th:field="*{sortOrder}"><br>
		<div th:if="${#fields.hasErrors('sortOrder')}" th:errors="*{sortOrder}" class="error-msg"></div>
		<br>
		<input type="submit" value="編集" class="btn">
	</form>

	<br>
	<form th:action="@{/category}" method="GET">
		<input type="submit" value="もどる" class="btn">
	</form>


</body>

</html>